{% extends 'base.html' %}
{% block title %}Delete Request{% endblock %}
{% block contents %}
<br>
<div class="container">
    <div class="row">
        <div class="col offset-3">
            <strong>この投稿について
                削除申請を行いますか?
                行う場合その旨を教えてください。
            </strong>
            <p>投稿タイトル: {{ record.title}}</p>
            {% if messages %}
            <ul class=" list-unstyled" style="list-style: none;">
                {% for message in messages %}
                <li {%if messages.tags %} class="{{ message.tags }}" {% endif %}>
                    {{ message }}
                </li>
                {% endfor %}
            </ul>
            {% endif %}

            <!-- 以下、フォームを表示するためのコード -->
            <div class="my-5">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="orm-floating">
                        <div class="form-group floating-label-form-group controls">
                            {{ field.label_tag }}
                            {% if field.name == 'title' %}
                                <!-- titleは固定値で表示 -->
                                <input type="text" class="form-control" id="id_title" value="{{ field.value|default:'削除申請' }}" disabled>
                            {% else %}
                                {{ field }}
                            {% endif %}
                            <p class="help-block text-danger"></p>

                            {% if form.errors %}
                            <ul>
                            {% for field in form %}
                            {% if field.errors %}
                            <li>{{ field.label }}: {{ field.errors }}</li>
                            {% endif %}
                            {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                    <br>
                    <button type="submit" class="btn btn-primary" id="sendMessageButton">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>
<hr>
{% endblock %}
